@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    font-family: 'Inter', serif;
    padding: 0;
    margin: 0;
    font-style: normal;
}
div {
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.px16-400 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.input {
    border: 1px solid #FF9F0D;
    border-radius: 27px;
    background: transparent;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}